[ CML2 ]
  
    [[ JW_07 ]]

        [[[ HGJ3VALXX_1_JW_7_Human_TTAGGC_R_170201_SHANAI_WGBSLIB_M001 ]]]
        
    [[ JW_08 ]]

        [[[ HGJ3VALXX_2_JW_8_Human_TGACCA_R_170201_SHANAI_WGBSLIB_M001 ]]]
    
    [[ JW_21 ]]

        [[[ HGJ3VALXX_3_JW_21_Human_CTTGTA_R_170201_SHANAI_WGBSLIB_M001 ]]]

    [[ JW_22 ]]

        [[[ HGJ3VALXX_4_JW_22_Human_AGTCAA_R_170201_SHANAI_WGBSLIB_M001 ]]]

    [[ JW_07_dup ]]

        [[[ HGJ3VALXX_5_JW_7dup_Human_TTAGGC_R_170201_SHANAI_WGBSLIB_M001 ]]]
        
    [[ JW_08_dup ]]

        [[[ HGJ3VALXX_6_JW_8dup_Human_TGACCA_R_170201_SHANAI_WGBSLIB_M001 ]]]
    
    [[ JW_21_dup ]]

        [[[ HGJ3VALXX_7_JW_21dup_Human_CTTGTA_R_170201_SHANAI_WGBSLIB_M001 ]]]

    [[ JW_22_dup ]]
    
        [[[ HGJ3VALXX_8_JW_22dup_Human_AGTCAA_R_170201_SHANAI_WGBSLIB_M001 ]]]

