// user@ip where the fastq files are stored
UIP="lpl913@r-dm.nci.org.au"

// location of fastq file in server
FASTQ_PATH="/g/data3/yo4/Cancer-Epigenetics-Data/Bis-Seq_Level_1/Test/"

// location of fastq file in server
BAM1_PATH="/g/data3/yo4/Cancer-Epigenetics-Data/Bis-Seq_Level_2/"

// location of fastq file in server
BAM2_PATH="/g/data3/yo4/Cancer-Epigenetics-Data/Bis-Seq_Level_3/"

// fastq format is fastq.gz
FASTQ_FORMAT=".fastq.gz"

// number of cores is 26
N_CORES="26"

// trim?
TRIM="CGX"

// min coverage for CpG bigwig file
MIN_COV_CpG="5"

// min coverage for SNP calling
MIN_COV_SNP="5"

// output the results
OUTPUT="/share/ScratchGeneral/phuluu/Temp"

// path to human genome hg19
GENOME="/home/phuluu/Projects/WGBS10X_new/annotations/hg19/hg19.fa"
