module load aarsta/bwa/0.7.9a
module load gi/bedtools/2.22.0
module load gi/samstat/1.08
module load marcow/bamUtil/gcc-4.4.6/1.0.7
module load phuluu/biscuit/0.2.0
module load phuluu/bwa-meth/0.10
module load phuluu/MethylDackel/0.2.0
module load gi/java/jdk1.8.0_25
module load gi/fastqc/0.11.5
module load phuluu/picard-tools/2.3.0
module load phuluu/pigz/2.3.4
module load phuluu/python/2.7.8
module load phuluu/qualimap/2.2.1
module load phuluu/R/3.1.2
module load phuluu/samtools/1.4
module load phuluu/UCSC/v4
module load phuluu/perl/5.24.1
export PERL5LIB=/share/ClusterShare/software/contrib/phuluu/vcftools/src/perl/:$PERL5LIB
module load phuluu/vcftools/0.1.15

