# export variables to node environment
export MODULEPATH=/share/ClusterShare/Modules/modulefiles/noarch:/share/ClusterShare/Modules/modulefiles/centos6.2_x86_64:/share/ClusterShare/Modules/modulefiles/contrib:$MODULEPATH
export PATH=/home/darloluu/bin:$PATH
source /etc/profile.d/modules.sh

# load modules
# bbcp1="/home/darloluu/bin/bbcp/bbcp"
# cutadapt
module load phuluu/python/2.7.8
module load phuluu/R/3.1.2
module load gi/bedtools/2.22.0
module load gi/samtools/1.2
module load gi/java/jdk1.8.0_25
module load gi/fastqc/0.11.3

### bwameth_align
module load gi/picard-tools/1.95
module load aarsta/bwa/0.7.9a
module load phuluu/bwa-meth/0.10
module load aarsta/Bisulfite_tools/1.2.5

# merge bam
PICARD_HOME="/home/phuluu/bin/picard-tools-2.3.0"

### make bigwig
module load marcow/bamUtil/gcc-4.4.6/1.0.7
BEDGRAPH=/home/darloluu/bin/ucsc/bedGraphToBigWig
module load gi/qualimap/1.0
module load gi/samstat/1.08

### dnameth_a_snp_calling
MethylDackel="/home/phuluu/methods/DNAmeth.calling.method.comparison/MethylDackel/bin/MethylDackel"
biscuit="/home/phuluu/methods/DNAmeth.calling.method.comparison/biscuit/biscuit"

# merge vcf file
module load gi/tabix/0.2.6
module load phuluu/perl/5.24.1
VCF_MERGE="/share/ClusterShare/software/contrib/phuluu/vcftools/bin/vcf-merge"

### R install BiocGenerics, S4Vectors, IRanges, GenomicRanges, GenomeInfoDb, rtracklayer
### BEDGRAPH=/home/darloluu/bin/ucsc/bedGraphToBigWig
