# Projects
[ Prostate_Brain_trim_new ]
   
   [[ 5287_oxbis_5_CEGX ]] 
        [[[ H25FHADXY_1_151124_BAQ--005_Human_TAGCTT_R_151123_SHANAI_M001 ]]]

   [[ 5060_bis_6_CEGX ]]
        [[[ H25FHADXY_1_151124_BAQ--006_Human_GGCTAC_R_151123_SHANAI_M001 ]]]

   [[ LNCaP_bis_1_CEGX ]]
        [[[ H25FHADXY_1_151124_BAQ--000_Human_ATCACG_R_151123_SHANAI_M001 ]]]

   [[ Adultbrain_bis_2_CEGX ]]
        [[[ H25FHADXY_1_151124_BAQ--002_Human_TTAGGC_R_151123_SHANAI_M001 ]]]

