// user@ip where the fastq files are stored
UIP="lpl913@r-dm.nci.org.au"

// location of fastq file in server
NCI_PATH="/g/data3/yo4/Cancer-Epigenetics-Data/WGBS"

// number of cores is 8
N_CORES="8"

// trim?
TRIM="CEGX"

// min coverage for CpG bigwig file
MIN_COV="1"

// output the results
OUTPUT="/home/phuluu/data/WGBS10X_new"

// path to human genome hg19
// GENOME="/share/ClusterShare/biodata/contrib/phuluu/bwa_meth/annotations/hg19/hg19.fa"

GENOME="/home/phuluu/Projects/WGBS10X_new/annotations/hg19/hg19.fa"
// CpG="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.CpG.bed"
// CHG="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.CHG.bed"
// CHA="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.CHA.bed"
// CHC="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.CHC.bed"
// CHT="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.CHT.bed"
// GSIZE="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.chrom.sizes.short"
// CpGislands="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.CpGislands.bed"
// CpGshores="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.CpGshores.bed"
// others="/home/phuluu/Projects/WGBS10X_new/V02/annotations/hg19/hg19.others.bed"

